.outer{
    display: inline-block;
    border-style: dotted;
    border-color: rgb(128, 8, 8);
    border-width: 10px;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 50px   ;

}
.inner{
    display:inline-block;
    border-style: dotted;
    border-color:rgb(94, 255, 0), 19, 228;
    border-width: 10px;
    width: 300px;
    height: 210px;
    margin: 0 auto;
    border-radius: 15px   ;



}
